@import url('../../styles/colors.css');

.task-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 24px;
  background-color: var(--color-bg-modal);
  border-radius: 12px;
}

/*Clases para animacion fade-out*/
.task-gallery-wrapper {
  transition: opacity 500ms ease;
  opacity: 1;
}

.task-gallery-wrapper.exit {
  opacity: 0;
}
