@import url('../../styles/colors.css');

#status-filter {
  padding: 10px 14px;
  border: 1px solid ;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: border 0.3s, box-shadow 0.3s;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.status-all {
    background-color: var(--color-bg-white);
    color: var(--color-text-default);
}

.status-pending {
    background-color: var(--color-status-pending-bg);
    color: var(--color-status-pending-text);
}

.status-in-progress {
    background-color: var(--color-status-progress-bg);
    color: var(--color-status-progress-text);
}

.status-completed {
    background-color: var(--color-status-completed-bg);
    color: var(--color-status-completed-text);
}
