#status-filter {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: border 0.3s, box-shadow 0.3s;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

/*Colores para el select*/
.status-all {
    background-color: #fff;
    color: #111827;
}

.status-pending {
    background-color: #fff7ed;
    color: #f39c12;
}

.status-in-progress {
    background-color: #e6f0fa;
    color: #3498db;
}

.status-completed {
    background-color: #eafaf1;
    color: #2ecc71;
}
