.event-gallery {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 20px;
  padding: 24px;
  width: 100%;
  background-color: var(--color-bg-modal);
}

.event-gallery-wrapper {
  width: 100%;
  box-sizing: border-box;
  transition: opacity 500ms ease;
  opacity: 1;
}

.event-gallery-wrapper.exit {
  opacity: 0;
}

@media (max-width: 510px) {
  .event-gallery {
    padding: 12px;
  }
}
