.weather-wrapper {
  display: flex;
  align-items: center;
  background-color: #d6e8f9;
  border-radius: 8px;
  padding: 1rem;
}

.weather-icon {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 480px) {
  .weather-wrapper {
    flex-direction: column;
  }

  .weather-icon {
    align-self: center;
  }
}