.sidebar {
  position: fixed;
  width: 220px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 5rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
  transition: background 0.2s ease;
  border-radius: 0 25px 25px 0;
  margin-bottom: 6px;

  color: #3b82f6;
}

.sidebar-item:hover {
  background-color: #d6e8f9;
}

.sidebar-item.active {
  background-color: #3b82f6;
  font-weight: bold;
  color: white;
}

.link {
  text-decoration: none;
}

.icon {
  margin-right: 12px;
  font-size: 1.2em;
}

.label {
  font-size: 0.95em;
}


/* Ocultar texto en pantallas pequeñas */
@media (max-width: 730px) {
  .sidebar {
    width: 60px; /* más estrecho */
    position: fixed;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 5rem;
  }

  .label {
    display: none;
  }

  .icon {
    margin-right: 12px;
    font-size: 1.2em;
  }
}