@import url('../../styles/colors.css');

.task {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  width: 100%;
  padding: 20px;
  overflow: hidden; 
  box-sizing: border-box;
  
  border-left: 6px solid var(--color-checkbox-checked); 
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg-white);
  
  transition: box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.task:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.task-id.hidden {
  display: none;
}

.task-user-id {
  font-weight: 500;
  margin-right: auto;
}

.task-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.task-info h3 {
  width: 80%; 
  word-break: break-word;
  overflow-wrap: break-word;

  font-size: 18px;
  font-weight: 600;
  color: var(--color-text-default);
  margin: 0;
}

.task-status {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 6px;
  display: inline-block;
  width: fit-content;
}

/* Colores por estado */
.status-pending {
    background-color: var(--color-status-pending-bg);
    color: var(--color-status-pending-text);
}

.status-in-progress {
    background-color: var(--color-status-progress-bg);
    color: var(--color-status-progress-text);
}

.status-completed {
    background-color: var(--color-status-completed-bg);
    color: var(--color-status-completed-text);
}

/* Fecha y hora */
.task-datetime-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    flex-wrap: nowrap;

    font-size: 0.95rem;
    padding: 0.5rem;
    border: 1px solid var(--color-border-default);
    border-radius: 0.75rem;
    background-color: var(--color-bg-modal);
}

.description {
  font-size: 14px;
  color: var(--color-text-secondary);
  margin-top: 8px;
  background-color: var(--color-bg-modal);
  padding: 8px 12px;
  border-radius: 8px;
}

.delete-button {
  position: absolute;
  top: 1.1rem;
  right: 0.75rem;
  margin: 0;
  padding: 0.25rem;
  width: 2rem;
  height: 2rem;

  border: none;
  border-radius: 50%;

  font-size: 18px;
  text-align: center;
  cursor: pointer;
  
  background-color: var(--color-bg-delete);
  color: var(--color-icon-delete);
  transition: background-color 0.2s ease;
}

.delete-button:hover {
  scale: 1.1;
}